<h1>Tamagotchi</h1>
<h5>Name your Tamagotchi!</h5>

<form action="/tamagotchi" method="post">
  <div class="form-group">
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Watch your Tamagotchi be born!</button>
</form>
