<h1><%= @name %></h1>
<div class="row">
  <div class="col-sm-3">
    <ul>
      <li>Food Level: <%= @food_level %></li>
      <li>Happiness Level: <%= @happiness_level %></li>
      <li>Energy Level: <%= @energy_level %></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <img src="http://medialab.hva.nl/workspaces2020-japan/files/2015/06/%E3%83%8E%E3%83%BC%E3%83%9E%E3%83%AB.gif" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <a href="/tamagotchi/feed">Feed me!</a>
  </div>
</div>
<a href="/tamagotchi">Refresh</a>
